{% extends 'bootstrap/base.html' %}
{% block head %}
    {{ super() }}
{{ moment.include_moment() }}
{% endblock %}

<title>{% if title %}{{ title }} - Hazen{% else %}Welcome to Hazen{% endif %}</title>

{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container">

            <!-- Brand and toggle button for mobile view -->
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ url_for('main.index') }}">Hazen</a>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">

                    {% if not current_user.is_anonymous %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('main.user', username=current_user.username) }}">Dashboard</a>
                    </li>
                    {% endif %}

                    {% if not current_user.is_anonymous %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('uploader.upload') }}">Upload</a>
                    </li>
                    {% endif %}

                    {% if current_user.is_anonymous %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('auth.login') }}">Login</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('auth.logout') }}">Logout</a>
                    </li>
                    {% endif %}

                </ul>
            </div> <!-- /.navbar-collapse -->
        </div> <!-- /.container -->
    </nav>
{% endblock %}


{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                        <div class="alert alert-{{ category }} text-center" role="alert">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
        {% block app_content %}
        {% endblock %}
    </div>
{% endblock %}
