<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}hazen-web-app{% endblock %}</title>

        {% block styles %}
            <!-- Bootstrap CSS -->
            {{ bootstrap.load_css() }}
        {% endblock %}

        {{ moment.include_moment() }}

    {% endblock %}

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
    <!-- Navigation bar -->
    {% block navbar %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <!-- Brand and toggle button for mobile view -->
                <a class="navbar-brand" href="{{ url_for('main.index') }}">Hazen</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Navbar links -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    {% if current_user.is_anonymous %}
                        <ul class="navbar-nav w-100 justify-content-end">
                            <li class="nav-item dropdown" style="width: 300px;">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Log in/Sign up
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" >  <div class="card card-login">

            <form class="form" method="post" action="" novalidate>
                {{ form.hidden_tag() }}
                <div>
                    <h4 class="card-title" align="center">Sign in</h4>
                </div>

                <div class="card-body">
                    <span class="bmd-form-group">
                        <div class="input-group center-block">
                            {{ form.username(class="form-control", placeholder="Username") }}
                            <br>
                            {% for error in form.username.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </div>
                    </span>

                    <span class="bmd-form-group">
                        <div class="input-group center-block">
                            {{ form.password(id="inputPassword", class="form-control", placeholder="Password") }}
                            <br>
                            {% for error in form.password.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </div>
                    </span>

                </div>

                <div class="footer text-center">
                    <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
                    <p>{{ form.submit(class="btn btn-primary bg-success") }}</p>
                    <p>New User? <a href="{{ url_for('auth.register') }}">Click to Register!</a></p>
                    <p>Forgot Your Password? <a href="{{ url_for('auth.reset_password_request') }}">Click to Reset It</a></p>
                </div>

            </form>

          </div>

    </a>

      </div>
    </li>
                        </ul>

                    {% else %}
                        <ul class="navbar-nav w-100 justify-content-start">
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('main.dashboard') }}">Acquisitions</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('main.dashboard') }}">Reports</a>
                            </li>
                        </ul>
                        <ul class="navbar-nav w-100 justify-content-end">
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('auth.edit_profile') }}">Edit profile</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('auth.logout') }}">Logout</a>
                            </li>
                        </ul>
                    {% endif %}

                </div> <!-- /.navbar-collapse -->
            </div> <!-- /.container -->
        </nav>
    {% endblock %}

    <!-- Your page content -->
    {% block content %}
        <div class="container">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }} text-center" role="alert">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            {# application content needs to be provided in the app_content block #}
            {% block app_content %}
            {% endblock %}
        </div>
    {% endblock %}

    {% block scripts %}
        <!-- Optional JavaScript -->
        {{ bootstrap.load_js() }}
    {% endblock %}
</body>
</html>
