<!DOCTYPE html>
<html>
<head>
<head>
<style>


h1 {
text-align: center;

  padding: 64px;
  background: linear-gradient(to right, hsl(0, 0%, 30%) 0, hsl(0, 0%, 100%) 10%, hsl(0, 0%, 30%) 20%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s infinite linear;

}

@keyframes shine {
  0% {
    background-position: 0;
  }
  90% {
    background-position: 900px;
  }
  100% {
    background-position: 900px;
  }
}


body {
text-align: center;

}

</style>
</head>
{% extends "base.html" %}
{% import "bootstrap5/form.html" as wtf %}

{% block app_content %}
<body style="background: #FFFFFF">
   <h1 data-text = "Welcome to Hazen" >Welcome to Hazen, automated MRI QA</h1>
</body>
    {% if form %}
    {{ wtf.render_form(form) }}
    <br>
    {% endif %}

  <div class="card-columns text-center">
    {% for acquisition in acquisitions %}
        {% include '_acquisition.html' %}
    {% endfor %}
  </div>


    <nav aria-label="...">
        <ul class="pagination justify-content-center">
            <li class="page-item{% if not prev_url %} disabled{% endif %}">
                <a class= "page-link" href="{{ prev_url or '#' }}" tabindex="-1">
                    <span aria-hidden="true">&larr;</span> Newer acquisitions
                </a>
            </li>
            <li class="page-item{% if not next_url %} disabled{% endif %}">
                <a class= "page-link" href="{{ next_url or '#' }}">
                    Older acquisitions <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}
</html>