{% extends "base.html" %}
{% block title %}{{title}}{% endblock %}

{% block app_content %}

    <div class="container pt-5">

        <!-- Title & Subheading -->
        <section class="text-center pb-5">
            <div class="row">
                <h1 class="h1 py-3">HAZEN</h1>
                <h3 class="h3 pb-3">
                    Quality assurance platform for MRI test objects
                </h3>
            </div>

            <div class="hazen-dotted-horizontal-line py-3"></div>
        </section>

        <!-- Introductory Text -->
        <section class="pb-5">
            <div class="row">
                <p class="p-front-page lead">
                    <span class="hazen-within-p">HAZEN</span> is a software framework for performing automated analysis of magnetic resonance imaging (MRI)
                    quality assurance data. Hazen consists of multiple image processing Tasks which perform
                    quantitative analysis of MRI phantom data.
                </p>
                <p class="p-front-page lead">
                    Hazen currently supports the ACR Large MRI Phantom and the MagNET Test Objects collection of phantoms.
                </p>
            </div>

            <div class="hazen-dotted-horizontal-line py-3"></div>
        </section>

        <!-- Task List -->
        <section>
            <div class="row">
                <h2 class="h2 pb-3">HAZEN Tasks</h2>
                <p class="p-front-page lead">
                    Hazen provides the following measurements of MRI test objects:
                    <li style="padding-inline-start: 2.5rem" class="p-front-page lead">Signal-to-noise ratio (SNR)</li>
                    <li style="padding-inline-start: 2.5rem" class="p-front-page lead">Spatial resolution</li>
                    <li style="padding-inline-start: 2.5rem" class="p-front-page lead">Slice position</li>
                    <li style="padding-inline-start: 2.5rem" class="p-front-page lead">Slice width</li>
                    <li style="padding-inline-start: 2.5rem" class="p-front-page lead">Uniformity</li>
                    <li style="padding-inline-start: 2.5rem" class="p-front-page lead">Ghosting</li>
                </p>
            </div>

        </section>

        <!-- Example Images -->
        <section class="pb-5">
            <div class="row py-3">
                <div class="col">
                    <img src="{{url_for('static', filename = 'images/sp_res.jpg') }}" class="card-img-top">
                    <p class="p-front-page pt-2">Spatial Resolution Task</p>
                </div>
                <div class="col">
                    <img src="{{url_for('static', filename = 'images/uniformity.jpg') }}" class="card-img-top">
                    <p class="p-front-page pt-2">Uniformity Task</p>
                </div>
                <div class="col">
                    <img src="{{url_for('static', filename = 'images/ghost.jpg') }}" class="card-img-top">
                    <p class="p-front-page pt-2">Ghosting Task</p>
                </div>
            </div>

            <div class="hazen-dotted-horizontal-line py-3"></div>
        </section>

        <!-- Hazen Developers -->
        <section class="pb-5">
            <div class="row">
                <h2 class="h2 pb-3">HAZEN Developers</h2>
                <p class="p-front-page lead">
                    Hazen is developed at Guy’s and St Thomas’ NHS Foundation Trust by healthcare scientists in the
                    Clinical Scientific Computing department in collaboration with the MR Physics team.
                </p>
            </div>

            <div class="hazen-dotted-horizontal-line py-3"></div>
        </section>

    </div>


{% endblock %}
