{% extends "base.html" %}
{% set active_page = "reports.html" %}
{% import "bootstrap5/form.html" as wtf %}

{% block title %}{{title}}{% endblock %}

{% block app_content %}

{% if series.filtered %}
    <div class="row">
        <h3 class="text-center pt-2">Available reports for DICOM Series</h3></br>
        <table class="table table-striped"> <!-- Series information -->
            <tr>
                <th>Series description</th>
                <td>{{ series.description }}</td>
            </tr>
            <tr>
                <th>Acquisition date</th>
                <td>{{ series.series_datetime }}</td>
            </tr>
            <tr>
                <th>Uploaded date</th>
                <td>{{ series.created_at.format('YYYY-MM-DD HH:mm') }}</td>
            </tr>
            <tr>
                <th>Files in series</th>
                <td>{{ series.series_files }}</td>
            </tr>
        </table>
    </div>
{% endif %}

<form method="POST" action={{ url_for('main.reports') }}>
    <h3 class="text-center pt-2">Reports</h3>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead><tr>
                <!-- <th>Select</th> -->
                <th>Series description</th>
                <th>Measurement performed</th>
                <th>Measurement date</th>
                <th>Performed by</th>
                <th>Measurement result</th>
                <th>Remove</th>
            </tr></thead>
            <tbody>
                {% for report in reports %}
                    <tr>
                        <!-- <td><input type="checkbox" name="many_series" value={{report.id}}></td> -->
                        <td>
                            <a href="{{ url_for('main.task_selection', series_id=report.series.id) }}">
                            {{ report.series.description }}</a>
                        </td>
                        <td>{{report.task.name}}</td>
                        <td>{{ report.created_at.format('YYYY-MM-DD HH:mm') }}</td>
                        <td>{{ report.user.username }}</td>
                        <td>{{ report.data }}</td>
                        <td>
                            <a href="{{ url_for('main.delete', report_id=report.id) }}">
                                <img src="../../static/trash.svg">
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</form>

{% endblock %}
