{% extends "base.html" %}
{% set active_page = "reports.html" %}
{% import "bootstrap5/form.html" as wtf %}

{% block title %}{{title}}{% endblock %}

{% block app_content %}

    <div class="container py-5">
        <div class="row">
            <h1 class="h1 text-center justify-content-center">Reports</h1>
        </div>
    </div>

<form method="POST" action="{{ url_for('main.reports') }}">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead><tr>
                <th>Series description</th>
                <th>Measurement performed</th>
                <th>Measurement date</th>
                <th>Performed by</th>
                <th>Hazen version</th>
                <th>Measurement result</th>
                <th>Remove</th>
            </tr></thead>
            <tbody>
                {% for report in reports %}
                    <tr>
                        <!-- <td><input type="checkbox" name="many_series" value={{report.id}}></td> -->
                        <td>
                            <a href="{{ url_for('main.series_view', series_id=report.series.id) }}">
                            {{ report.series.description }}</a>
                        </td>
                        <td>{{report.task.name}}</td>
                        <td>{{ report.created_at.format('YYYY-MM-DD HH:mm') }}</td>
                        <td>{{ report.user.username }}</td>
                        <td>{{ report.hazen_version }}</td>
                        <td>{{ report.data }}</td>
                        <td>
                            <a href="{{ url_for('main.delete', report_id=report.id) }}">
                                <img src="../../static/images/trash.svg">
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</form>

<nav aria-label="...">
    <ul class="pagination justify-content-center">
        <li class="page-item{% if not prev_url %} disabled{% endif %}">
            <a class= "page-link" href="{{ prev_url or '#' }}" tabindex="-1">
                <span aria-hidden="true">&larr;</span> Newer results
            </a>
        </li>
        <li class="page-item{% if not next_url %} disabled{% endif %}">
            <a class= "page-link" href="{{ next_url or '#' }}">
                Older results <span aria-hidden="true">&rarr;</span>
            </a>
        </li>
    </ul>
</nav>

{% endblock %}
