{% extends "base.html" %}
{% import "bootstrap5/form.html" as wtf %}

{% block title %}{{title}}{% endblock %}

{% block app_content %}

    <div class="container py-5">
        <div class="row">
            <h1 class="h1 text-center justify-content-center">DICOM Series Overview</h1>
        </div>
    </div>

    <div class="hazen-dotted-horizontal-line mb-3"></div>

    <!-- Series Overview Table -->
    <div class="container">
        <div class="row pt-3">
            <table class="table table-striped"> <!-- Series information -->
                <tr>
                    <th>Series description</th>
                    <td>{{ series.description }}</td>
                </tr>
                <tr>
                    <th>Acquisition date</th>
                    <td>{{ series.series_datetime }}</td>
                </tr>
                <tr>
                    <th>Uploaded date</th>
                    <td>{{ series.created_at.format('YYYY-MM-DD HH:mm') }}</td>
                </tr>
                <tr>
                    <th>Files in series</th>
                    <td>{{ series.series_files }}</td>
                </tr>
                <tr>
                    <th>Reports made</th>
                    <td>{{ series.has_report }}</td>
                </tr>
            </table>
        </div>
    </div>

    <!-- Select New Process -->
    <div class="row py-5">
        <div class="col-md-6 center-block mx-auto">
            <h4 class="h4">Select HAZEN task to perform:</h4>
            <p class="p-front-page">hazenlib version: {{ hazenlib_version }}</p>
            {% if form %}
                {{ wtf.render_form(form) }}
            {% endif %}
        </div>
    </div>

    <div class="hazen-dotted-horizontal-line mb-3"></div>

    <!-- Measurement Results -->
    <section class="pb-5">
        <div class="row pb-6">
            <h3 class="h3 text-center py-3">Measurement Results</h3>
            {% for task, data in results.items()%}
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading{{ loop.index }}">
                            <button class="accordion-button"
                                    type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ loop.index }}" aria-expanded="false" aria-controls="collapse{{ loop.index }}"><b>{{ task }}</b>, {{ data.created.format('YYYY-MM-DD HH:mm') }}</button>
                        </h2>
                    </div>
                    <div id="collapse{{ loop.index }}" class="accordion-collapse collapse" aria-labelledby="heading{{ loop.index }}" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>Measurement</th>
                                        <th>Value</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <!-- Display measurement values for results per task performed on series -->
                                    {% for measurement, value in data.measurement.items() %}
                                        <tr>
                                            <td>{{ measurement }}</td>
                                            <td>{{ value }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>

                                <div>
                                    {% for img_name in data.image_files %}
                                        <img src="/static//{{data.directory}}/{{img_name}}" width="{{data.width}}%"  height="50%">
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="hazen-dotted-horizontal-line py-3"></div>
    </section>

{% endblock %}
