{% extends "base.html" %}

{% block app_content %}



    <div class="row justify-content-center">

        <h2>Acquisitions</h2>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Folder</th>
                    <th>Uploaded</th>
                    <th>Uploader</th>
                    <th>Description</th>
                    <th>Files</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                {% for acquisition in acquisitions %}
                    <tr>
                        <td>
                            <a href="{{ url_for('reports.report', acquisition_uuid=acquisition.id) }}">
                            {{ acquisition.id.hex}}
                            </a>
                        </td>
                        <td>{{ acquisition.created_at.format('YYYY-MM-DD HH:mm') }}</td>
                        <td>{{ acquisition.author.username }}</td>
                        <td>{{ acquisition.description }}</td>
                        <td>{{ acquisition.files }}</td>
                        <td>
                            <a href="{{ url_for('main.delete_acq', acquisition_uuid=acquisition.id, username=acquisition.author.username) }}">
                                <img src="../../static/trash.svg">
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
