{% extends "base.html" %}

{% block title %}{{title}}{% endblock %}

{% block app_content %}

    <div class="row justify-content-center">

        <h2>Acquisitions</h2>

        <div class="row">
            {{ super() }}
            {{ dropzone.load_css() }}
            {{ dropzone.style('border: 5px dashed gray; margin: auto; min-height: 100px; max-width: 700px') }}
            {{ dropzone.create(action=url_for('main.dashboard'))}}
            {{ dropzone.load_js() }}
            {{ dropzone.config(redirect_view='main.dashboard', id='uploader') }}
        </div>
    <p></p>
        <div class="col-md-12 text-center">
            <!-- <form action="{{ url_for('main.dashboard', username=current_user.username) }}"> -->
                <button onClick="window.location.reload()" id="upload" class="btn btn-primary">Upload</button>
            <!-- </form> Actions must be added to buttons using JavaScript or by associating the button with a form.-->
        </div>
    <p></p>
        <hr>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead><tr>
                    <th>Folder</th>
                    <th>Uploaded</th>
                    <th>Uploader</th>
                    <th>Description</th>
                    <th>Files</th>
                    <th>Delete</th>
                </tr></thead>
                <tbody>
                {% for acquisition in acquisitions %}
                    <tr>
                        <td>
                            <a href="{{ url_for('reports.report', acquisition_uuid=acquisition.id) }}">
                            {{ acquisition.filename }}</a>
                            <!-- </br>{{ acquisition.id.hex }} -->
                        </td>
                        <td>{{ acquisition.created_at.format('YYYY-MM-DD HH:mm') }}</td>
                        <td>{{ acquisition.author.username }}</td>
                        <td>{{ acquisition.description }}</td>
                        <td>{{ acquisition.files }}</td>
                        <td>
                            <a href="{{ url_for('main.delete_acq', acquisition_uuid=acquisition.id) }}">
                                <img src="../../static/trash.svg">
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <!-- <div class="card-columns text-center">
        {% for acquisition in acquisitions %}
            {% include '_acquisition.html' %}
        {% endfor %}
    </div> -->
    
    <nav aria-label="...">
        <ul class="pagination justify-content-center">
            <li class="page-item{% if not prev_url %} disabled{% endif %}">
                <a class= "page-link" href="{{ prev_url or '#' }}" tabindex="-1">
                    <span aria-hidden="true">&larr;</span> Newer acquisitions
                </a>
            </li>
            <li class="page-item{% if not next_url %} disabled{% endif %}">
                <a class= "page-link" href="{{ next_url or '#' }}">
                    Older acquisitions <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>

{% endblock %}
