{% extends "base.html" %}

{% block content %}

  <h1 class="mt-5">Workbench</h1>

  <div class="row mt-5">
    <div class="col-md-6">
      <h2>Available files</h2>
      <hr>

      {% if studies %}
        {% for study in studies %}
          <h4>{{ study.description }} (UID: {{ study.uid }})</h4>
          <div class="accordion mb-4" id="study{{ study.id }}">
            {% for series in study.series %}
              <div class="card">
                <div class="card-header" id="series{{ series.id }}">
                  <h5 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse"
                            data-target="#collapse{{ series.id }}" aria-expanded="true"
                            aria-controls="collapse{{ series.id }}">
                      {{ series.description }}
                    </button>
                    <a href="{{ url_for('main.task_selection', series_id=series.id) }}" class="btn btn-primary float-right">Process</a>
                  </h5>
                </div>

                <div id="collapse{{ series.id }}" class="collapse" aria-labelledby="series{{ series.id }}" data-parent="#study{{ study.id }}">
                  <div class="card-body">
                    {% if series.files %}
                      <ul class="list-group list-group-flush">
                        {% for file in series.files %}
                          <li class="list-group-item">{{ file }}</li>
                        {% endfor %}
                      </ul>
                    {% else %}
                      <p>No files available.</p>
                    {% endif %}
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        {% endfor %}
      {% else %}
        <p>No files available.</p>
      {% endif %}
    </div>

    <div class="col-md-6">
      <h2>Upload files or folders</h2>
      <hr>

      <form id="image-upload-form" method="post" enctype="multipart/form-data" action="{{ url_for('main.workbench') }}">
        {{ upload_form.hidden_tag() }}

        {{ upload_form.image_files.label }}
        {{ upload_form.image_files.multiple() }}
        {{ upload_form.folder_files.label }}
        {{ upload_form.folder_files }}

        <button type="submit" class="btn btn-primary mt-3" name="submit" value="Upload">Upload</button>
      </form>

      <h2 class="mt-5">Batch processing</h2>
      <hr>

      <form id="batch-form" method="post" action="{{ url_for('main.workbench') }}">
        {{ batch_form.hidden_tag() }}

        {{ batch_form.task_name.label }}
        {{ batch_form.task_name }}

        {{ batch_form.task_variable.label }}
        {{ batch_form.task_variable }}

        <button type="submit" class="btn btn-primary mt-3" name="submit" value="Run task on selected series">Run task on selected series</button>
      </form>
    </div>
  </div>

{% endblock %}
