{% extends "base.html" %}

{% block title %}{{title}}{% endblock %}

{% block app_content %}
    <style>
    .scrollspy-example {
        position: relative;
        /*height: 200px;*/
        overflow: auto;
    }
    </style>

    <div class="row"> <!-- col-md-4 col-lg-3 pb-3 -->
        <div class="col">
        <!-- Task list Scrollspy -->
            <div id="scrollspy1" style="background-color: #eee" class="sticky-top">
        
                <ul class="nav flex-column nav-pills menu-sidebar" id="tasks">
                <h3 class="text-center pt-2">Available Tasks</h3>
                    {% for task in tasks %}
                        <li class="nav-item">
                            <a class="nav-link" href="/">{{ task.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col">
            <h3 class="text-center pt-2">Upload new files</h3>
        </br>
            <div class="row">
                <!-- DropZone -->
                {{ super() }}
                {{ dropzone.load_css() }}
                {{ dropzone.style('border: 5px dashed gray; margin: auto; min-height: 100px; max-width: 700px') }}
                {{ dropzone.create(action=url_for('main.workbench'))}}
                {{ dropzone.load_js() }}
                {{ dropzone.config(reload='main.workbench', id='uploader') }}
            </div>
        </br>
            <div class="row">
                    <!-- File selection -->
                <form method="post" action="{{ url_for('main.workbench') }}" enctype="multipart/form-data">
                    <p>
                        <input type="file" name="files[]" multiple="true" autocomplete="off" required>
                    </p>
                    <p>
                        <input type="submit" value="Upload">
                    </p>
                </form>
            </div>
    </div>

    <hr>
    <div class="row">
    <h3 class="text-center pt-2">Available files</h3>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead><tr>
                    <th>Select for processing</th>
                    <th>Description</th>
                    <th>Acquisition Date</th>
                    <th>Uploaded Date</th>
                    <th>Uploaded by</th>
                    <th>Files</th>
                    <th>Reports</th>
                    <th>Delete</th>
                    <th>Archive</th>
                </tr></thead>
                <tbody>
                {% for acquisition in acquisitions %}
                    <tr>
                        <td>checkbox</td>
                        <td>
                            <a href="{{ url_for('reports.report', acquisition_id=acquisition.id) }}">
                                {{ acquisition.description }}</a>
                        </td>
                        <td>{{ acquisition.series_datetime }}</td>
                        <td>{{ acquisition.created_at.format('YYYY-MM-DD HH:mm') }}</td>
                        <td>{{ acquisition.user.username }}</td>
                        <td>num files</td>
                        <td>
                            <a href="{{ url_for('reports.report', acquisition_id=acquisition.id) }}">
                            report</a>
                        </td>
                        <td>
                            <a href="{{ url_for('main.delete_acq', acquisition_uuid=acquisition.id) }}">
                                <img src="../../static/trash.svg">
                            </a>
                        </td>
                        <td>meow</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <nav aria-label="...">
        <ul class="pagination justify-content-center">
            <li class="page-item{% if not prev_url %} disabled{% endif %}">
                <a class= "page-link" href="{{ prev_url or '#' }}" tabindex="-1">
                    <span aria-hidden="true">&larr;</span> Newer acquisitions
                </a>
            </li>
            <li class="page-item{% if not next_url %} disabled{% endif %}">
                <a class= "page-link" href="{{ next_url or '#' }}">
                    Older acquisitions <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>

{% endblock %}
