body, html {
    font-family: 'Frutiger', sans-serif;
    background-color: #FFF;
}

.logo-tab {
    background-color: white;
    padding-left: 5%;
    margin-right: 1%;
}

.container-fluid {
    padding-left: 0;  /* Ensure tab always touches left of screen */
}

.hazen-brand {
    font-family: 'Frutiger', sans-serif;
    font-weight: bold;
    font-size: xx-large;
    color: #005EB8;
}

.btn-primary {
    background-color: #005EB8;
    border-color: #005EB8;
}

.btn-secondary {
    background-color: #768692;
    border-color: #768692;
}

.nav-link {
    color: #005EB8;
}

.hazen-accordion-centre {
    text-align: center;
}

.hazen-dotted-horizontal-line {
    border-bottom: 2px dotted #425563;
}

.h1 {
    font-family: 'Frutiger', sans-serif;
    font-weight: bold;
    color: #005EB8;
}

.h2, .h3, .h4 {
    font-family: 'Frutiger', sans-serif;
    color: #005EB8;
}

.p-front-page {
    color: #005EB8;
}

.hazen-within-p {
    font-family: 'Frutiger', sans-serif;
    font-size: 125%;
    color: #005EB8;
}
.link-light {
    font-family: 'Frutiger', sans-serif;
    font-size: 125%;
    color: #005EB8 !important;
}